<div id="config-panel" class="div-inline contents panel">
  <h2>Configurations</h2>
  <div>
    <input class="uk-input" type="text" id="config-site" placeholder="Server Address">
    <input class="uk-input" type="password" id="config-id" placeholder="Authentication ID">
  </div>
  <div>
    <button class="uk-button uk-button-primary" onclick={{action "dispAlert"}}>Connect</button>
  </div>
</div>
