<div id="status-panel" class="contents panel">
  <h1 id="status-title">Disconnected!</h1>
  <div id="status-fields">
    <h3>
      AP Location
      <span id="status-location" class="variable table-like unemphasize">PIRL 316</span>
    </h3>
    <h3>
      Syaa Centre
      <span id="status-ip" class="variable table-like unemphasize">10.0.0.1</span>
      <span class="variable unemphasize">(</span>
      <span id="status-host" class="variable unemphasize">syaa.widh.dev</span>
      <span class="variable unemphasize">)</span>
    </h3>
  </div>
  <div id="status-log">

  </div>
  <div id="status-icon" class="if">
    <img class="true" src="/images/connected.svg" alt="Connected Sign Icon" />
    <img class="false" src="/images/disconnected.svg" alt="Disconnected Sign Icon" />
  </div>
</div>
