<div id="status" class="contents">
  <h1>Connected!</h1>
  <div id="status-field">
    <h3>AP Location <span id="stat-location" class="variable-field">PIRL 316</span></h3>
    <h3>Centre <span id="stat-ip" class="variable-field">10.0.0.1 - syaa.widh.dev</span></h3>
  </div>
  <div id="log-field">

  </div>
  <div id="status-icon">
    <img src="/images/connected.svg">
  </div>
</div>
