@import 'font';
@import 'comp';

body {
  margin: 0;
  color: #eaeaea;
  background-color: #222;

  * {
    font-family: 'Noto Sans KR', sans-serif;
  }
}

.left { float: left }
.right { float: right }
