@import "common";
@import "uikit";
@import "fonts";
@import "components";
@import "routes";

html {
  color: $textCara;
  background-color: $bgCara;

  body {
    margin: 0;

    * {
      font-family: "Noto Sans KR", sans-serif;
    }
  }
}

.if {
  &.set, &.not {
    .true {
      display: initial;
    }
    .false {
      display: none;
    }
  }
  &, &.not.set {
    .true {
      display: none;
    }
    .false {
      display: initial;
    }
  }
}

.white {
  color: white;
}

.left {
  float: left;
}
.right {
  float: right;
}

.div-inline div {
  display: inline-block;
}

.contents {
  h1 {
    font-weight: 800;
    margin: 0;
  }

  h3 {
    margin: 0;
    font-size: .9rem;
    font-weight: 100;
  }

  .variable {
    font-weight: 800;
    font-style: italic;

    &.table-like {
      margin-left: 15px;
    }

    &.unemphasize {
      opacity: .75;
    }
  }
}
