// Cut words into 4 chars
$bgCara: #222;
$emp1BgCara: rgba(200, 200, 200, .1);
$emp2BgCara: rgba(200, 200, 200, .2);
$emp3BgCara: rgba(200, 200, 200, .3);
$emp4BgCara: rgba(200, 200, 200, .4);
$textCara: #eaeaea;
$tbHeig: 26px;
$mainPadHori: 30px;
$mainPadVert: 20px;
$mainConfHeig: 94px;
$mainHrMargVert: 16px;
