@font-face {
  font-family: "Noto Sans";
  src: url('/fonts/NotoSansCJKkr-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url('/fonts/NotoSansCJKkr-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url('/fonts/NotoSansMonoCJKkr-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
