/* IRONA Client Program is subject to the terms of the Mozilla Public License 2.0.
 * You can obtain a copy of MPL at LICENSE.md of root directory. */

.window-button-container {
  display: table;
  float: right;
  height: 30px;
  -webkit-app-region: no-drag;
}
