/* IRONA Client Program is subject to the terms of the Mozilla Public License 2.0.
 * You can obtain a copy of MPL at LICENSE.md of root directory. */

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.statusPanel {
  padding: 80px 50px;
  animation: fade-in .5s ease-in;

  .generalText {
    color: gray;

    .generalHighlightText {
      color: var(--fore-color);
      font-family: Monaco, Menlo, Consolas, "Droid Sans Mono", Inconsolata, "Courier New", monospace;
    }
  }
}
