/* IRONA Client Program is subject to the terms of the Mozilla Public License 2.0.
 * You can obtain a copy of MPL at LICENSE.md of root directory. */

.textSection {
  margin-bottom: 45px;

  &:first-of-type {
    margin-bottom: 65px;
  }

  &:not(:first-of-type) {
    display: inline-block;
  }

  &:not(:last-of-type) {
    margin-right: 50px;
  }

  * {
    display: block;
  }

  .upperText {
    color: var(--prim-color);
    font-weight: 600;
  }

  .lowerText {
    color: var(--fore-color);
  }
}
