body {
  margin: 0;

  #client {
    &, * {
      color: var(--fore-color);
    }
  }
}

[data-theme="dark"] {
  &, * {
    --fore-color: #fff;
    --back-color: #2b2b2b;
  }
}

[data-theme="light"] {
  &, * {
    --fore-color: #2b2b2b;
    --back-color: #fff;
  }
}
