@import '../common.scss';

#status-panel {
  height: calc(100vh - #{$tbHeig + $mainPadVert + 4px + $mainConfHeig + $mainHrMargVert});
  overflow: hidden;
  position: relative;

  #status-fields {
    margin: 20px 0 10px;
  }

  #status-icon {
    position: absolute;
    right: -7vh;
    top: 7vh;

    img {
      width: auto;
      height: calc(94vh - #{$mainConfHeig});
    }
  }
}
