@import '../common.scss';

#title-bar {
  width: 100%;
  height: $tbHeig;
  background-color: $emp1BgCara;
  box-shadow: 0 0 2px 1px rgba(55, 55, 55, .05);
  -webkit-app-region: drag;
  -webkit-user-select: none;

  .logo {
    height: $tbHeig - 4px;
    padding: 2px;
    display: flex;

    span {
      font-size: $tbHeig - 12px;
      line-height: $tbHeig - 4px;
      vertical-align: top;
      margin-left: 5px;
      opacity: .715;
    }

    img {
      width: auto;
      height: $tbHeig - 10px;
      margin: 3px 0 2px 3.5px;
      opacity: .715;
    }
  }

  .control {
    display: table;
    -webkit-app-region: no-drag;

    button {
      display: table-cell;
      height: $tbHeig;
      width: $tbHeig / 26 * 36;
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      transition: background-color .2s ease;
      background-size: $tbHeig / 26 * 12;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-color: $emp2BgCara;
      }

      &#config {
        background-image: url('/images/config.svg');
        margin-right: 10px;

        &:hover {
          background-color: #c0a300;
        }
      }

      &#minimize {
        background-image: url('/images/minimize.svg');
      }

      &#close {
        background-image: url('/images/close.svg');

        &:hover {
          background-color: #ff3e3e;
        }
      }
    }
  }
}
