@import '../common.scss';

 #main {
  .panel:first-child {
    padding: $mainPadVert $mainPadHori $mainHrMargVert;
  }
  .panel:last-child {
    padding: $mainHrMargVert $mainPadHori $mainPadVert;
  }
  .panel {
    padding: $mainHrMargVert $mainPadHori;
    width: 100%;
    box-sizing: border-box;
  }

  hr {
    border: none;
    border-top: 1px solid $emp2BgCara;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    box-sizing: border-box;
    margin: 0 ($mainPadHori / 3 * 2);
  }
}
